<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

<script>
    window.openModal = (modalId) => {
        bootstrap.Modal.getOrCreateInstance(`#${modalId}`).show();
    }
    window.closeModal = (modalId) => {
        bootstrap.Modal.getInstance(`#${modalId}`).hide();
    }
    window.getItem = (key) => {
        return window.localStorage.getItem(key);
    }
    window.setItem = (key, value) => {
        window.localStorage.setItem(key, value);
    }
    window.clearStorage = () => {
        window.localStorage.clear();
        window.location.reload(true);
    }
</script>